<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="utils.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="48x48">
    <title>Explore</title>
</head>
<body>
    <div>
        <form action="">
            <label>User id</label>
            <input type="text" name="userId" placeholder="Enter your user id" required>
            <label >Password</label>
            <input type="password" name="password" placeholder="Enter your password" required>
        </form>
    </div>
</body>
</html>
