<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="utils.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="favicon.ico" sizes="48x48">

    <title>Writers Forest</title>
</head>
<body>

    
    <nav id="logo">
     
    <h1>Writers Forest</h1>

    <div id="check" class="menu-icon">
    <i class="fa fa-bars" style="font-size: 22px;"></i>
    </div>

   <div class="on_screen">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/your-work">Your Work</a></li>
            <li><a href="/settings">Settings</a></li>

        </ul>
    </div>
    </nav>
    <div class="off_screen">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/your-work">Your Work</a></li>
            <li><a href="/settings">Settings</a></li>
    
        </ul>
    </div>

    <div id="opening_words">
        <p><%=homepg%></p>
    </div>



<div class="main_content">
    <div class="post">
        <h2>Title here</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sollicitudin viverra tempor. Donec dictum nisl sed porta fac
            ilisis. Etiam ac auctor tortor. Nam ligula ligula, lobortis sed augue sed, aliquet cursu
            s ante. Nullam non vehicula nunc. Aenean vulputate ex quis scelerisque pulvinar. Sed ult
            rices mauris vel tincidunt tempus. Quisque quis metus in mi malesuada vestibulum in nec l
            igula. Sed sit amet consequat nulla, non sollicitudin odio. Nam sodales mi euismod est tem
            pus, sed placerat sem bibendum. Integer eget semper enim. Cras quis lacus orci. Mauris soda
            les leo eu tellus rutrum <br>

            Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse fringilla, est vel tincidunt consect
            etur, velit sapien gravida turpis, sed eleifend orci sapien sed metus. Vestibulum 
            elementum odio congue ipsum interdum, et vestibulum elit imperdiet. Pellentesque n
            on nibh lacus. Proin at hendrerit nisl, vel molestie nisi. Nulla id nisl id nulla luct
            us gravida eu eget lorem. Quisque nisi purus, consectetur porttitor risus nec, dignissim suscipit eros.

            Proin gravida magna ultrices ultricies porta. Nam augue neque, pellentesque in blandit sit amet, ornare quis
             libero. Vestibulum maximus tristique tristique. Aenean eu volutpat mi. Suspendisse potenti. In nec consequat mauris.
              Sed mollis sem sit amet nulla sagittis, ac laoreet nibh molestie. Nam accumsan, diam eget faucibus vestibulum, ni
              sl erat faucibus urna, vel molestie tellus erat a nunc. Pellentesque pulvinar, justo a feugiat tin
              cidunt, neque lacus euismod sem, blandit sodales leo enim ac nulla. Maecenas ipsum nisi, pulvinar
               in elit sed, consequat aliquam ante. Nullam faucibus fermentum suscipit. Donec feugiat nisl eu v
               lit egestas feugiat. Donec fringilla laoreet ipsum, porta blandit libero blandit vitae.
            
            Nam elementum, urna eu posuere iaculis, dui purus eleifend odio, aliquet cursus ligula metus quis elit. Null
            am sollicitudin molestie tempus. Sed consectetur nec felis a interdum. Etiam mattis scelerisque magna, v
            el ullamcorper tellus semper eget. Duis tellus urna, sodales cursus leo vel, auctor iaculis sem. Inte
            ger ac maximus lorem, eget congue lectus. Nulla porta, ligula iaculis malesuada rhoncus, lectus sapien
             volutpat lectus, at condimentum odio nunc at turpis. Morbi volutpat ante pharetra fermentum mollis. 
             Ut in suscipit arcu, ut efficitur leo. Praesent sed rhoncus tellus. Cras maximus mauris velit, sit am
             
            Nullam non vehicula ligula, varius laoreet augue. In sollicitudin turpis eget neque pellentesque pellente
            sque. Cras facilisis neque id consequat efficitur. Phasellus 
            scelerisque facilisis suscipit. Aliquam urna felis, suscipit sed bibend
            um sit amet, pulvinar ac nisi. Phasellus eget dictum urna. Morbi eu orci diam.</p>
    </div>


<div class="but">
    <button class="prev">previous</button>

    <button class="next">next</button>
</div>

</div>

<br>
<br>
<br>

<div class="comments">
    <h2>Comments</h2>
    <input type="text" id="inp_text">
    <button type="submit" id="sub_but">submit</button>
</div> 


    <script src="/main.js"></script>
</body>
</html>

