<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="favicon.ico" sizes="48x48">

    <title>Document</title>
</head>
<body>
    <nav id="logo">
     
        <h1>Settings</h1>
    
        <div id="check" class="menu-icon">
        <i class="fa fa-bars" style="font-size: 22px;"></i>
        </div>
    
       <div class="on_screen">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/your-work">Your Work</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </div>
        </nav>

        <div class="off_screen">
            <ul>
                <li><a href="index.ejs">Home</a></li>
            </ul>
        </div>

        <div class="log_in_set">
            <ul>
                <li><a href="#">Login to your account</a></li>
                <li><a href="your_work.ejs">Your Work</a></li>
            </ul>
        </div>
    <script src="/main.js"></script>

</body>
</html>