*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
}
/* #00a400 */
/* #6fff52 */
#logo {
    background-color: #00a400;
    margin: 0; 
}

  nav{
    list-style: none;
    font-family: Lato, Arial, sans-serif;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  h1{
    font-size: 1.5rem;
    font-family: Lato, Arial, sans-serif;
    position: relative;
    left: 1vw;
    width: 400px;
    color: black;
    max-width: 70%;
  }

  .on_screen{
    float: right;
    margin-right: 20px;
    position: relative;
    bottom:55px;
  }

  .off_screen{
    display: none;
    text-align: center;
    font-family: Lato, Arial, sans-serif;
    background-color: rgb(47, 53, 48);
    height: 100vh;
  }
  .off_screen li{
    padding: 50px;
  }
  .off_screen li a{
    text-decoration: none;
    text-transform: uppercase;
    padding:5px 10px;
    border-radius: 3px;
    color: white;
    font-size: 20px;
  }

  .on_screen li{
    display: inline-block;
    line-height: 80px;
    color: white;
  }

  .on_screen li a{
    text-decoration: none;
    text-transform: uppercase;
    padding:5px 10px;
    border-radius: 3px;
    color: black;
    }

  a.active,a:hover{
    background: #cde6c9;
    transition: .5s;
  } 

  .menu-icon{
    display: none;
    position: relative;
    left:90%;
    bottom: 25px;
    cursor: pointer;
  }

  .post{
    font-family: Lato, Arial, sans-serif;
    padding: 30px;
    position: relative;
    left: 15vw;
    text-align: justify;
    width: 70vw;
  }

  .description{
    font-family: Lato, Arial, sans-serif;
    padding: 30px;
    position: relative;
    float:right;
    right: 5vw;
    bottom: 100vh;
    text-align: justify;
    width: 40vw;
  }

  #opening_words{
    width: 95vw;
  }

 .but{
  width:100vw;
 }

  .next{
    margin-left: 65vw;
    font-size: 1.5rem;
    background: none;
    border: none;
    transition: opacity 0.2s ease;
  }

  .prev{
    margin-left: 15vw;
    font-size: 1.5rem;
    background: none;
    border: none;
    transition: opacity 0.2s ease;
  }
  
  
.createabranch{
  color: black;
  font-size: 1.25rem;
  background: none;
  border: none;
}

.createabranch:hover{
  opacity: 0.5;
}

/* Modified hover effects for next and prev buttons */
.next:hover{
  opacity: 0.8;
  background: none;
}

.prev:hover{
  opacity: 0.8;
  background: none;
}

h2{
  text-align: left;
  padding-left: 30px;
  padding-bottom: 10px;
}

.createabranch:active{
  opacity: 0.9;
}

#content{
  color: whitesmoke;
  font-family: Lato, Arial, sans-serif;
  padding: 0;
  position: relative;
  left: 15vw;
  text-align: justify;
  width: 70vw;
}

#title{
  color: whitesmoke;
  width: 60%;
  font-family: Lato, Arial, sans-serif;
  padding: 0.5vh;
  position: relative;
  left: 15vw;
  text-align: justify;
  width: 70vw;
}


@media screen and (max-width: 768px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  h1 {
    font-size: 30px;
    text-align: justify;
  }

  #logo{
    height: 9vh;
  }
  
  .on_screen {
    display: none; 
  }
  
  .menu-icon {
    display: block;
  }
  
  .off_screen {
    display: block;
  }

  .post, .description {
    position: relative;
    width: 100%; /* Slightly less than 100% to add margins */
    left: 0;
    right: 0;
    bottom: 0;
    float: none;
    margin: 0 auto; /* This centers the elements */
    text-align: justify;
  }
  
  .description {
    top: 0; /* Reset the top value */
    margin-top: 20px; /* Add space between post and description */
  }
  
  .but {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .prev, .next {
    margin: 0; /* Reset any margins */
    width: auto;
    font-size: 16px;
    padding: 10px;
  }

  .main-content {
    text-align: justify;
    width: 100%;
    margin: 0 auto; /* Center the main content */
  }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color:black;
        color: whitesmoke;
    }
    button{
      color: whitesmoke;
    }

    .createabranch{
      color: whitesmoke;
    }

    #content,#title{
      background: black;
    }
}